<mat-card class="login-page">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="login-form">

            <mat-form-field>

                <input matInput type="email"
                       placeholder="Email"
                       formControlName="email">

            </mat-form-field>

            <mat-form-field>

                <input matInput type="password"
                       placeholder="Password"
                       formControlName="password">

            </mat-form-field>
            <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile><button mat-raised-button color="primary"
                    (click)="login()"
                    [disabled]="!form.valid">Login</button></mat-grid-tile>
                <mat-grid-tile>   <button 
                    mat-raised-button color="info"
                    (click)="goToRegister()"
                    >Register</button></mat-grid-tile>
              </mat-grid-list>
            
         

        </form>
    </mat-card-content>
</mat-card>
