<mat-card class="login-page">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" class="login-form">

            <mat-form-field>

                <input matInput type="text"
                       placeholder="First Name"
                       formControlName="firstName">

            </mat-form-field>
            <mat-form-field>

                <input matInput type="text"
                       placeholder="Last Name"
                       formControlName="lastName">

            </mat-form-field>
            <mat-form-field>

                <input matInput type="email"
                       placeholder="email"
                       formControlName="email">

            </mat-form-field>

            <mat-form-field>

                <input matInput type="password"
                       placeholder="Password"
                       formControlName="password">

            </mat-form-field>
            <mat-radio-group style="margin:5px" formControlName="role" aria-label="Select a role">
                <mat-radio-button style="margin:5px" value="jobSeeker" >Job Seeker</mat-radio-button>
                <mat-radio-button style="margin:5px" value="recruiter" >Recruiter</mat-radio-button>
              </mat-radio-group>
              

            <button mat-raised-button color="primary"
                    (click)="register()"
                    [disabled]="!form.valid">Register</button>

        </form>
    </mat-card-content>
</mat-card>
