

.job-card {
    margin: 20px 10px;
    width: 26%;
}

.job-actions {
    text-align: center;

}

.job-actions button {
  margin-right: 10px;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}
.one-word{
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}