<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-around center" fxFlexAlign="center">

  <mat-card fxFlex.sm="80" fxFlex.xs="80" *ngFor="let job of jobs" class="job-card mat-elevation-z10">

    <mat-card-header>

      <mat-card-title>{{job.description}}</mat-card-title>

    </mat-card-header>

    <img width="100%" height="200px" mat-card-image [src]="job.iconUrl"/>

    <mat-card-content>
      <p class="one-word">{{job.longDescription}}</p>
    </mat-card-content>

    <mat-card-actions class="job-actions">
      <div fxLayout="row" fxLayoutAlign="space-around center">

        <div fxflex="20">

          <button mat-raised-button [disabled]="(loggedUser$ | async).appliedJobs.includes(job.id)" color="info" *ngIf="showApplyJob" (click)="applyJob(job)">
            {{(loggedUser$ | async).appliedJobs.includes(job.id)?'':'Apply'}}
            <mat-icon class="add-job-btn" *ngIf="(loggedUser$ | async).appliedJobs.includes(job.id)" style="color: green">check</mat-icon>

          </button>
        </div>
        <div fxflex="60">
          <button mat-raised-button color="primary" (click)="viewJob(job)">
            VIEW
          </button>
        </div>
        <div fxflex>


          <button mat-mini-fab color="warn" *ngIf="showEditJob && job.createdBy == (loggedUser$ | async).id">
            <mat-icon class="add-job-btn" (click)="editJob(job)">edit</mat-icon>
          </button>

          <button mat-mini-fab color="info" *ngIf="showAddFavourite">
            <mat-icon class="add-job-btn" color="warn" (click)="toggleFavouriteJob(job)">{{(loggedUser$ | async).favouriteJobs.includes(job.id)?'favorite':'favorite_border'}}</mat-icon>
          </button>

          <button mat-mini-fab color="warn" *ngIf="showDeleteJob && job.createdBy == (loggedUser$ | async).id">
            <mat-icon class="add-job-btn" (click)="onDeleteJob(job)">delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-actions>

  </mat-card>
</div>
