
<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content>

  <ng-container *ngIf="form">

    <div class="spinner-container" *ngIf="loading$ | async">

      <mat-spinner></mat-spinner>

    </div>

    <ng-container [formGroup]="form">

      <mat-form-field>

        <input matInput
               placeholder="Job Description"
               formControlName="description">

      </mat-form-field>

      <ng-container *ngIf="mode == 'create'">

        <mat-form-field>

          <input matInput
                 placeholder="Job Url"
                 formControlName="url">

        </mat-form-field>

        <mat-form-field>

          <input matInput
                 placeholder="Job Icon Url"
                 formControlName="iconUrl">

        </mat-form-field>

      </ng-container>

      <mat-form-field>

        <mat-select placeholder="Select category"
                    formControlName="category">

          <mat-option value="Angular">
            Angular</mat-option>
          <mat-option value="React">
            React</mat-option>
          <mat-option value="Java">
            Java</mat-option>

        </mat-select>

      </mat-form-field>



      <mat-form-field>

        <textarea matInput placeholder="Description"
                  formControlName="longDescription">

        </textarea>

      </mat-form-field>

    </ng-container>


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Close
  </button>

  <button mat-raised-button color="primary"
          [disabled]="!form?.valid || (this.loading$ | async)"
          (click)="onSave()">
    Save
  </button>

</mat-dialog-actions>




