<div class="job" *ngIf="(job$ | async) as job">

  <h2>{{job?.description}}</h2>

  <img class="job-thumbnail mat-elevation-z8" [src]="job?.iconUrl">
  <p>{{job?.longDescription}}</p>

  <div class="spinner-container" *ngIf="(loading$ | async )">

    <mat-spinner></mat-spinner>

  </div>

  <mat-table class="job-table mat-elevation-z8" [dataSource]="applicants$ | async" *ngIf="showApplicantsTable">

    <ng-container matColumnDef="email">

      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>

      <mat-cell *matCellDef="let applicant">{{applicant.email}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="firstName">

      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let applicant">{{applicant.firstName}}</mat-cell>


    </ng-container>

    <ng-container matColumnDef="lastName">

      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let applicant">{{applicant.lastName}}</mat-cell>


    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>



</div>
