
.job {
    text-align: center;
    max-width: 390px;
    margin: 0 auto;
}

.job-thumbnail {
    width: 175px;
    margin: 20px auto 0 auto;
    display: block;
    border-radius: 4px;
}

.description-cell {
    text-align: left;
    margin: 10px auto;
}

.duration-cell {
    text-align: center;
}

.duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.job-table {
    min-height: 360px;
    margin-top: 10px;
}

.spinner-container mat-spinner {
    margin: 95px auto 0 auto;
}

.action-toolbar {
    margin-top: 20px;
}

h2 {
  font-family: "Roboto";
}


.bottom-toolbar {
  margin-top: 20px;
  margin-bottom: 200px;
}


.spinner-container {
  width:390px;
}
