<mat-card class="login-page">
    <mat-card-content>
        <form [formGroup]="form" class="login-form">

            <mat-form-field>

                <input matInput type="text"
                       placeholder="First Name"
                       formControlName="firstName"
                       readonly
                       >

            </mat-form-field>
            <mat-form-field>

                <input matInput type="text"
                       placeholder="Last Name"
                       formControlName="lastName"
                       readonly
                       >

            </mat-form-field>
            <mat-form-field>

                <input matInput type="email"
                       placeholder="email"
                       formControlName="email"
                       readonly
                       >

            </mat-form-field>
            <mat-form-field>

                <input matInput type="role"
                       placeholder="Role"
                       formControlName="role"
                       readonly
                       >

            </mat-form-field>

          
          
              

           

        </form>
    </mat-card-content>
</mat-card>
