
.body {
    margin: 0;
}

main {
    margin: 30px;
}

.menu-button {
    background: #009688;
    color: white;
    border: none;
    cursor:pointer;
    outline:none;
}
.spacer{
  flex: 1 1 auto;
}
