<mat-tab-group>
    <mat-tab label="Profile Info"><profile-info></profile-info>  </mat-tab>
    <mat-tab label="Favourite Jobs"> <favourite-jobs></favourite-jobs> </mat-tab>
    <mat-tab label="Applied to"> <applied-jobs></applied-jobs> </mat-tab>
  </mat-tab-group>
  