@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */




// Include non-theme styles for core.
@include mat.core();

$mat-custom-theme: (
  50: #ebf2f3,
  100: #cde0e2,
  200: #accbcf,
  300: #8ab6bc,
  400: #71a6ad,
  500: #58969f,
  600: #508e97,
  700: #47838d,
  800: #3d7983,
  900: #2d6872,
  A100: #baf4ff,
  A200: #87ecff,
  A400: #54e4ff,
  A700: #3be0ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87)
  )
);


// Define a theme.
$primary: mat.define-palette(mat.$teal-palette);
$accent:  mat.define-palette(mat.$yellow-palette);

$theme: mat.define-light-theme($primary, $accent);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);


.spinner-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  position: fixed;
  height: 300px;
  width: 345px;
  display: flex;
  background: white;
  z-index: 1000;
  opacity: 0.5;
  justify-content: center;
}
