<div class="jobs-panel">

  <div class="header">

    <mat-form-field *ngIf="showSearchBox">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" placeholder="search here" class="search-input" (input)="onSearchChange($event.target.value)"  >

  </mat-form-field>

  <mat-chip-list #chipList  selectable multiple  *ngIf="showCategoriesFilter">
    <mat-chip #c="matChip" *ngFor="let option of categoriesStatic" [value]="option.value" (click)="toggleSelection(c)">
        {{option.value}}
    </mat-chip>

  </mat-chip-list>
  <button class="float" mat-mini-fab *ngIf="showAddJob"  (click)="onAddJob()">
    <mat-icon class="my-float" class="add-job-btn"  >add</mat-icon>
  </button>

  </div>

  <jobs-card-list (jobChanged)="reload()" [jobs]="jobs$ | async"></jobs-card-list>

</div>