

.title {
    text-align: center;
    margin-right: 15px;

}

.jobs-panel {
  width: 90%;
    margin: 0 auto;
}


.counters {
    display: flex;
}

.filler {
    flex: 1 1 auto;
}

h2 {
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

}



.spinner-container {
  margin-top: 100px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999; 
  z-index: 999;
}

.my-float{
	margin-top:22px;
}